doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/team.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css')
    link(rel='stylesheet', href='/stylesheets/custom_layout.css')
    meta(property='og:title', content='Lucking App')
    meta(property='og:type', content='article')
    meta(property='og:url', content='http://www.lucking.mx')
    meta(property='og:image', content='http://www.lucking.mx/img/share.png')
    meta(property='og:description', content='The spontaneous experience that dares you to explore the city')
    meta(property='og:site_name', content='Lucking App')
    meta(property='fb:admins', content='258877701281031')

  body
    nav
      .top-logo.text-left
        img.animated.fadeInDown(src="../img/logo.png")

      ul.text-right
        li.active
          a(href='#form') Pre-Register
        li
          a(href='/team') Team
        li
          a(href='/') How to?
        li
          a.fa.fa-facebook.nofondo(href='https://www.facebook.com/luckingapp/')
        li
          a.fa.fa-twitter.nofondo(href='https://twitter.com/luckingapp')
        li
          a.fa.fa-instagram.nofondo(href='https://www.instagram.com/lucking_app/')

    .container.main-cont
        block content

    script(src='http://code.jquery.com/jquery-3.2.1.js')
    script(src='javascripts/main.js')