extends layout
block content

    <nav class="text-right">
        <ul>
        <li class="active"><a href="#">Pre-Register</a></li>
        <li><a href="#">Learn more</a></li>
        <li><a href="#">About us</a></li>
        </ul>
    </nav>
    
    </div>
    </div>