extends layout

block content

    <div class="art">
        <img src="../img/Group 52.png" alt="">
        <img src="../img/Group 30.png" alt="">
        <img src="../img/Group 25.png" alt="">
        <img src="../img/Group 38.png" alt="">
        <img src="../img/Group 41.png" alt="">
    </div>

        <div class="container main">
        <div class="row">
            <h1 style="text-align:center;color:#ff2986;font-weight:bold;margin-bottom:60px;">Team Members</h1>
            <section id="team">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="member-wrapper">
                        <div class="member">
                        <div class="photo" style="background-image: url('../img/pam.jpg')">
                            </div>
                            <div class="info">
                                <h3 style="background-color: #368f6f;">Pamela Escobar</h3>
                                <div class="bio">
                                    <h4>I'm Pamela Escobar, a hustler by heart with knowledge in marketing, community management and selling techniques; with interest in traveling.</h4>
                                    <br>
                                    <a href="#" class="fa fa-facebook"></a>
                                    <a href="#" class="fa fa-twitter"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="member-wrapper">
                        <div class="member">
                            <div class="photo" style="background-image: url(../img/santiago.jpg)">
                            </div>
                            <div class="info">
                                <h3  style="background-color: #9a4d9f;">Santiago Yañez</h3>
                                <div class="bio">
                                    <h4>Santiago Yañez is a passionate Industrial Engineer focused on: innovation & entrepreneurship with interests on fintech, tech guy, business developer & negotiator</h4>
                                    <br>
                                    <a href="#" class="fa fa-facebook"></a>
                                    <a href="#" class="fa fa-twitter"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="member-wrapper">
                        <div class="member">
                            <div class="photo" style="background-image: url('../img/brandon.jpg')">
                            </div>
                            <div class="info">
                                <h3 style="background-color: #d6d157;">Brandon Reyes</h3>
                                <div class="bio">
                                    <h4>‪I'm Brandon Reyes, 20 years old, Android developer and Java developer. Interested in ethical hacking, IoT, business and software developing.</h4>
                                    <br>
                                    <a href="#" class="fa fa-facebook"></a>
                                    <a href="#" class="fa fa-twitter"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="member-wrapper">
                        <div class="member">
                            <div class="photo" style="background-image: url('../img/rulo.jpg')">
                            </div>
                            <div class="info">
                                <h3 style="background-color: #344597;">Rulótico González</h3>
                                <div class="bio">
                                    <h4>Rulótico González > Interactive designer, Unicorn(Code - Design),Animator, Co-founder Sable Digital Studio | DribbbleCDMX Meetup</h4>
                                    <br>
                                    <a href="#" class="fa fa-facebook"></a>
                                    <a href="#" class="fa fa-twitter"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="member-wrapper">
                        <div class="member">
                            <div class="photo" style="background-image: url('../img/gerardo.jpg')">
                            </div>
                            <div class="info">
                                <h3 style="background-color: #ec1a57;">Gerardo Medina</h3>
                                <div class="bio">
                                    <h4>I'm Gerardo Medina, 22 years old, frontend and backend web developer, interested in coding, business, networking and new experiences!</h4>
                                    <br>
                                    <a href="#" class="fa fa-facebook"></a>
                                    <a href="#" class="fa fa-twitter"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="member-wrapper">
                        <div class="member">
                            <div class="photo" style="background-image: url('https://farm5.staticflickr.com/4003/4278480984_157b32696a_o.jpg')">
                            </div>
                            <div class="info">
                                <h3 style="background-color: #e4e05b;">David Hernández</h3>
                                <div class="bio">
                                    <h4>I'm David Hernandez, Information Designer, MACD CSM alumni. Multimedia design professor at Universidad Anáhuac. Interested in Design, art, media, UX/UI.</h4>
                                    <br>
                                    <a href="#" class="fa fa-facebook"></a>
                                    <a href="#" class="fa fa-twitter"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="clearfix"></div>
        </div>
    </div>