/*********/
/*stilos custom*/
/*******/


.pink{
	color: #F42F89;
}
.top-logo img{
	    height: 125px;
    position: fixed;
    top: 18px;
        left: 10px;
            z-index: 20;

}

.main-cont{

	margin-bottom: 100px;
	margin-top: -70px;

}

.section-main{
	margin-top: 130px;
}

.section-main img{
	width: 64%;
}

input{
	color: white;
}

.input-lg{
	    background-color: rgba(20, 19, 21, 0.53);
    border: solid 2px #f42f89;
        color: white;
}


label{
	color: #f3f3f3 !important;
	font-weight: 100;

}

.full-btn{
	width: 100%;
	background-color: #F42F89;
	border: 0; 
}

.phone{
	    height: 354px;
}



.phone img{
	height: 400px;
}


.partners {
	color: #f3f3f3;
}


.par img{
	    max-width: 100px;

}
