@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');




h4{
    font-size: 18px;
    font-weight: bold;
}


body {

  font-family: 'Raleway', sans-serif;
  background: inherit;
  letter-spacing: 1px;
}

html {
  background: url(../img/backfull.png) repeat center center fixed; 
  background-color: #12192a;
}

h1 {
  color: white;
}
li  {
  color: white;
}

p {
  color: white;
}

* {
  margin: 0;
  padding: 0;
}
 
nav {
  margin: 50px;
}

nav li{
  cursor: pointer;
}
 
ul {
  overflow: auto;
  list-style-type: none;
}
 
li {
  height: 25px;
  float: right;
  margin-right: 0px;
  padding: 0 20px;

}

img.center {
    display: block;
    margin: 0 auto;
}
 
li a {
  text-decoration: none;
  color: #ccc;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
li a:hover {
  color: #F42F89;
  text-decoration: none;
}
 
li.active a {
  text-decoration: none;
  color: #F42F89;
}


@media(max-width: 780px){

  .nav{
    margin:0px;
  }
  nav ul{
    display: none;
  }
  body{
        margin-top: 166px;
  }
  .top-logo{
    text-align: center;
  }
  .top-logo img {
    height: 125px !important;
    position: absolute !important;
    top: 18px !important;
    left: inherit !important;
     margin-left: -62px !important;
    z-index: 20 !important;
}

.phone img {
    height: auto;
    width: 100%;
}



}

