@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');

body {
  padding: 50px;
  font-family: 'Raleway', sans-serif;
  background: inherit;
}

a {
  color: #00B7FF;
}

html {
  background: url(../img/backfull.png) repeat center center fixed; 
}

h1 {
  color: white;
}

p {
  color: white;
}