@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');


body {
    color: #858585;
    font-family: 'Raleway',sans-serif;
    font-size: 16px;
    font-weight: 200;
}

h4,
.h4{
    font-size: 18px;
    font-weight: bold;
}

.container {
    width: 1170px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.team
{
    width: 370px;
    min-height: 100%;
    border: 1px solid rgba(133,133,133,.15);
    background-color: #fff;
    -moz-box-shadow: 0 0 8px rgba(0,0,0,.09);
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.09);
    box-shadow: 0 0 8px rgba(0,0,0,.09);
    float: left;
    margin-left: 16px;
}
.teamimg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: -80px;
    width:170px;
    height:170px;
    background: #1bbc9d;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.09);
}

.teamsocial
{
    height: 48px;
    background-color: #f7f5f5;
    position: relative;
    bottom: -14px;
    left: 0;
}

.facebook-team
{
    float: left;
    width: 48px;
    height: 48px;
    color: #D1CFCF;
    display:block;
    font-size:30px;
    padding: 7px;
}

.twitter-team
{
    float: left;
    width: 48px;
    height: 48px;
    color: #D1CFCF;
    display:block;
    font-size:30px;
    padding: 7px;
}

.google-team
{
    float: left;
    width: 48px;
    height: 48px;
    color: #D1CFCF;
    display:block;
    font-size:30px;
    padding: 7px;
}

.pinterest-team
{
    float: left;
    width: 48px;
    height: 48px;
    color: #D1CFCF;
    display:block;
    font-size:30px;
    padding: 7px;
}

.facebook-team:hover
{
    color: #3B5998;
}

.twitter-team:hover
{
    color: #29B3E1;
}

.google-team:hover
{
    color: #DE5845;
}

.pinterest-team:hover
{
    color: #C51C23;
}

body {
  padding: 50px;
  font-family: 'Raleway', sans-serif;
  background: inherit;
}

html {
  background: url(../img/backfull.png) repeat center center fixed; 
}

h1 {
  color: white;
}
li  {
  color: white;
}

p {
  color: white;
}

* {
  margin: 0;
  padding: 0;
}
 
nav {
  margin: 50px;
}
 
ul {
  overflow: auto;
  list-style-type: none;
}
 
li {
  height: 25px;
  float: right;
  margin-right: 0px;
  padding: 0 20px;
}

img.center {
    display: block;
    margin: 0 auto;
}
 
li a {
  text-decoration: none;
  color: #ccc;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
li a:hover {
  color: #F42F89;
  text-decoration: none;
}
 
li.active a {
  text-decoration: none;
  color: #F42F89;
}